<% if object.errors.any? %>
  <div class="error-alert">
      <% object.errors.full_messages.each do |message| %>
        <p class='error-message'><%= message %></p>
      <% end %>
  </div>
<% end %>
