<!--コメント一覧-->

<% @comments.each do |comment| %>

  <p><%= comment.text %></p>

  <%# if comment.user == current_user %>
    <p><%#= link_to "削除",  public_item_comment_path(comment.item_id, comment.id), method: :delete %></p>
  <%# end %>


<% end %>

 <%# if comment.user == current.user %>
