<div class="container">
  <div class="row">
    <% if Room.find_by(user_id: current_user.id).present? %>
      <% current_user.rooms.each do |room| %>
        <div class="col-4 p-2">
          <%= link_to public_room_path(room) do %>
            <div class="card">
              <div class="card-body">
                <div class="message-image-icon">
                  <%= image_tag room.partner(current_user).get_profile_image(200, 200) %>
                </div>
                <div class="message-user">
                  <%= room.partner(current_user).name %>
                </div>
                <div class="message-text">
                  <% if room.messages.last != nil %>
                    <%= room.messages.last.sentence %>
                  <% else %>
                    メッセージはまだありません。
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <p class="text p-5">トーク履歴がありません</p>
    <% end %>
  </div>
</div>

<style>
  main{
  background-image: none;
  background-color: #d4dcd3;
  }
</style>