<div class="container">
  <h1><%= @brand.brand_name %>の店舗一覧</h1>
  <% if @stores.present? %>
  <div class="row">
   <% @stores.each do |store| %>
   <div class="store col-2">
    <%= store.store_name %>
    <%= link_to "削除", admin_store_path(store), method: :delete %>
    </div>
   <% end %>
   </div>
   <%= paginate @stores %>
  <% end %>
</div>


<style>
 .store{
  border:  3px solid;
  background    : #EEEEEE;
  border-color: #999966;
  border-radius: 8px;
 }
</style>