<div class="container">
  <ul class="admin-top">
    <li>
      <%= link_to admin_users_path, class: 'btn btn-light' do %>
        顧客管理
      <% end %>
    </li>
    <li>
      <%= link_to admin_items_path, class: 'btn btn-light' do %>
        投稿管理
      <% end %>
    </li>
    <li>
      <%= link_to admin_brands_path, class: 'btn btn-light' do %>
        ブランド管理
      <% end %>
    </li>
    <li>
      <%= link_to admin_stores_path, class: 'btn btn-light' do %>
        店舗管理
      <% end %>
    </li>
  </ul>
</div>

<style>

  .btn-light{
    width: 500px;
    height: 80px;
    padding: 20px;
    margin: 30px;
    background-color: #FFFFCC;
    border: 5px solid #999966;
  }

  .admin-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
  }

</style>