<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center p-5">
            <h1>管理一覧</h1>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <%= link_to admin_users_path, class: 'admin-top-btn btn btn-outline-secondary center-block' do %>
                顧客管理
            <% end %>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <%= link_to admin_items_path, class: 'admin-top-btn btn btn-outline-secondary center-block' do %>
                投稿管理
            <% end %>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <%= link_to admin_brands_path, class: 'admin-top-btn btn btn-outline-secondary center-block' do %>
                ブランド管理
            <% end %>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <%= link_to admin_stores_path, class: 'admin-top-btn btn btn-outline-secondary center-block' do %>
                店舗管理
            <% end %>
        </div>
    </div>
</div>

<style>
    a.admin-top-btn{
        width: 300px;
        padding: 20px;
        margin: 30px;
    }
</style>