<h1>店舗一覧</h1>

<%= form_with model: @store, url: admin_stores_path, method: :post do |f| %>

  <%= f.text_field :store_name, placeholder: "店舗名" %>

  <%= f.submit "登録" %>
<% end %>



<h4>店舗リスト</h4>

<% @stores.each do |store| %>
   <%= store.store_name %><br>
<% end %>



