<div class="guide-sidebar">
    <div class="sidebar-box">
      <a href="#step1">
        <p>step1</p>
        <p>ユーザー登録</p>
      </a>
    </div>
    <div class="sidebar-box">
      <a href="#step2">
        <p>step2</p>
        <p>投稿</p>
      </a>
    </div>
     <div class="sidebar-box">
      <a href="#step3">
        <p>step3</p>
        <p>いいね・フォロー</p>
      </a>
    </div>
     <div class="sidebar-box">
      <a href="#step4">
        <p>step4</p>
        <p>トーク</p>
      </a>
    </div>
     <div class="sidebar-box">
      <a href="#step5">
        <p>step5</p>
        <p>コメントについて</p>
      </a>
    </div>
     <div class="sidebar-box">
      <a href="#step6">
        <p>お困りの時</p>
      </a>
    </div>
  </div>

  <style>
.guide-sidebar{
  width: 300px;
  height: 100%;
  box-sizing: border-box;
  position: sticky;
	top: 50px;
}

.sidebar-box{
  display: flex;
  flex-flow: column;
  padding: 10px;
  margin: 10px;
  border: 1px solid #bcbace;
  text-align: center;
  color: #736d71;
  background-color: #fef9fb;
  box-shadow: 5px 5px 10px #666666;
}

.sidebar-box a{
  color: #736d71;
  display: block;
}

.sidebar-box:hover{
  border: 4px solid #8d93c8;
}
</style>
