<div class="container">
  <div class="row p-5">
    <h1 class="about-title">About</h1>
  </div>
  <div class="about1">
    <div class="title-box">
      サイトについて
    </div>
    <div class="text-box">
      当サイトは、ユーザー同士だけでなく店舗スタッフとのコミュニケーションをメインとする<br>
      コミュニティサイトです。<br>
      アイテムやコーディネートを通して新たなファッションのヒントが見つかります。<br>
    </div>
   </div>
</div>

<style>
main{
  background-image: none;
  background-color: #eeeaec;
}

.row{
  justify-content: center;
}

h1.about-title{
  font-family: 'Georgia', sans-serif;
  color: #736d71;
  border-bottom: double 30px #bcbace;
  font-weight: 800;
  font-size: 50px;
  text-align: center;
  padding-top: 20px;
}

.title-box{
  margin:2em 0;
  position: relative;
  padding: 0.5em 1.5em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}
</style>
