<div class="container">
  <div class="row p-5">
    <h1 class="title">About</h1>
  </div>
  <div class="row p-2">
    <div class="title-box">
      <p>現役店舗スタッフとコミュニケーションのできる</p>
      <p>コミュニティサイトです</p>
      <p>アイテムやコーディネートを通して</p>
      <p>新たなファッションのヒントが見つかります</p>
    </div>
  </div>
</div>

<style>
main{
  background-image: none;
  background-color: #eeeaec;
}

.row{
  justify-content: center;
}

h1{
  font-family: 'Georgia', sans-serif;
  border-bottom: double 6px #b79fcb;
}

.title-box{
  margin:2em 0;
  position: relative;
  padding: 0.5em 1.5em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}
</style>
