<div class="about">
  <h1 class="about-title">About</h1>
  <div class="about-box">
    <div class="image-box">
      <%= image_tag "https://style-new.s3.ap-northeast-1.amazonaws.com/about1.jpg?response-content-disposition=inline&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEFUaDmFwLW5vcnRoZWFzdC0xIkgwRgIhALy%2BcgZIE%2FLqsmVyAj7gPYgzlkVSpcxWZczFk9GRlq1XAiEA6C11qvAWLOnJI4X0opRAbyOnH8X3tq6d8L4vvEqZIZYq6AIILxAAGgwzODUzNDE1ODk1OTUiDJQfN1%2FVQaOXp4uyNSrFAgPxUFB67lTp4Utpyz9rxOINOctHM7b9OHUEKjK0IewijvZVsXGtFAzhVUjmrnINV6OrC7ubJpywPVg0T%2F0ImkDtQYXxM2EOITYrMIPRgxTDXXznwOHw%2FvsSHqz03jlS01%2Fn5TpnuJbmIGgVWQOviXwoPNF32oq3KNid9ZHdQd%2F25awvbEs3xXvQSBxSVvDWap4%2BioaMk3SpCS8b%2BF%2Fo5VODiID3DJLUV%2ByW0%2BIPVKDY5EYhl6m4YwN3%2B6k2uhOMy7SQU9FRcrSRa0BLC9YRrsVrQRglyaGKU1luprr9uw4C4MXNrqZYnxjtTozObq1F2yC4FOIwiqSgxQcPmuZMWCmIG3t7FgOqJblLzdzsBsorb1fYrfmkGqzJxfPbFeRmziSHLo5svWD4iP47z2laG8k2R%2BqA2qQT9rsdzMDNAOfMtlEn4lww%2B7m6mgY6sgJakR1ANbIk%2FTy6ZPZFGW2QgnbLWJN%2BBFV8fMpynFDXKH9A7oAsgQTjih4DPhIDE9nvUHtYN2KGoO6dK%2BaFjPGCU60fAEgF8H6%2FAcjmH7E27DSAypnJ%2FZl8efFuz%2BF8omjc2SVgwLq3gjJRW%2FkwGbxIsxZfD5MPJZbaOjAdfxjPM%2Bnqqd5t8vL8rHbUX1qtb6fE8JEfvUTM7%2B5ExTfmSui4siwWXGfWsXSC%2BmHgSq7MEp96bjC1oXvHOHxzmunRR6uXqTOIw1ZhVJH0b2TdU28BA51Z8eYJDmlB4eSJpzJ2ua3Vxw%2Fl3MCkFxlv7RR%2BDdg4OS5VyI0qGT1PBDuKWb8m1zH3%2FgD%2FfpT89o09p0VYsOEuM0bhIoblh6yhkim83JtTBNtfGe26DdzEPtVCtfqKUGA%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20221018T134132Z&X-Amz-SignedHeaders=host&X-Amz-Expires=3600&X-Amz-Credential=ASIAVTOBGBBNTVC4BT7O%2F20221018%2Fap-northeast-1%2Fs3%2Faws4_request&X-Amz-Signature=13ca8cf0698ea5bef19235dca51f1b1423792268e895094cbd2753cb6955cd92", class: 'image' %>
    </div>
    <div class="text-box">
      <div class="text">
        当サイトは、ユーザー同士だけでなく<br>
        店舗スタッフとのコミュニケーションを目的とした<br>
        コミュニティサイトです。<br>
        アイテムやコーディネートを通して<br>
        新たなファッションのヒントが見つかります。
      </div>
    </div>
  </div>
  <div class="about-box">
    <div class="image-box">
      <%#= image_tag asset_path('about2.jpg'), class: 'image' %>
    </div>
    <div class="text-box">
      <div class="text">
        店舗スタッフユーザーへは<br>
        投稿による商品の宣伝や<br>
        「コメント」や「トーク」を通じて<br>
        ユーザーへのアプローチを実現します
      </div>
    </div>
  </div>
  <div class="about-box">
    <div class="image-box">
      <%#= image_tag asset_path('about3.jpg'), class: 'image' %>
    </div>
    <div class="text-box">
      <div class="text">
        一般ユーザーへは<br>
        投稿を通して、日々の記録や<br>
        他のユーザーに対する<br>
        「いいね」「フォロー」「トーク」<br>
        を通じてコミュニケーションを行い<br>
        新たなファッションの気付きを提供します
      </div>
    </div>
  </div>
</div>

<style>
main{
  background-image: none;
  background-color: #eeeaec;
  min-height: 1500px;
}

h1.about-title{
  font-family: 'Georgia', sans-serif;
  color: #736d71;
  border-bottom: double 30px #bcbace;
  font-weight: 800;
  font-size: 50px;
  text-align: center;
  padding: 20px;
  margin: 10px 50px;
}

.about-box{
  display: flex;
  position: relative;
  padding: 30px 50px;
}

.image-box{
  margin:2em 0;
  padding: 0.5em 1.5em;
}

.text-box{
  display: flex;
}

.text{
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  color: #736d71;
  font-size: 20px;
}

.image{
  width: 800px;
  height: 500px;
}
</style>
