<div class="question-box">
  <%= render 'homes/guide_sidebar' %>
  <div class="guide-main">
    <h1 class="guide-title">Guide</h1>
    <div class="step1">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/UhJHrLfE4Hk"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
    </div>
    <div class="title-box">
      <a name="step1">step.1 ユーザー登録をしましょう</a>
    </div>
    <div class="text">
      アカウントは「ユーザー」と「店舗スタッフ」に分かれます。<br>
      一般ユーザーの場合は必ず「ユーザー」を選びましょう<br>
      （万が一店舗スタッフでないことが判明した場合利用停止とさせていただきます）
    </div>
    <div class="question">
      <div class="user-new1">
        <%= image_tag asset_path('user-new1.jpg'), class: 'image' %>
      </div>
      <div class="user-new2">
        <%#= image_tag asset_path('user-new2.jpg'), class: 'image' %>
      </div>
    </div>
     <div class="text">
      登録が完了したらプロフィール画像を設定してみましょう<br>
      （画像はJPEG形式のファイルを使用してください）
    </div>
    <div class="question">
      <div class="user-new3">
        <%#= image_tag asset_path('user-new3.jpg'), class: 'image' %>
      </div>
      <div class="user-new4">
        <%#= image_tag asset_path('user-new4.jpg'), class: 'image' %>
      </div>
    </div>
    <div class="title-box">
      <a name="step1">step.２ 投稿をしてみましょう</a>
    </div>
    <div class="text">
      写真は物撮りでももちろんOKです<br>
      文章は自分のためのメモ替わりにもできます。(空白でも投稿できます）<br>
      すぐに公開しない投稿は「非公開」設定にしておきましょう<br>
      店舗スタッフからのコメントを受け付ける場合は「公開」もしくは「店舗スタッフのみ公開」
      に設定しましょう。<br>
      コメントが届くかもしれません。
    </div>
    <div class="question">
      <div class="item-new1">
        <%#= image_tag asset_path('item-new1.jpg'), class: 'image' %>
      </div>
      <div class="item-new2">
        <%#= image_tag asset_path('item-new2.jpg'), class: 'image' %>
      </div>
    </div>
    <div class="text">
      投稿の削除はゴミ箱ボタンをクリックします。<br>
      投稿内容は写真をクリックすることでご覧いただけます。<br>
      自分の投稿は内容を編集することも可能です。<br>
      （現在タグの編集は不可となります）
    </div>
    <div class="question">
      <div class="item-new3">
        <%#= image_tag asset_path('item-new3.jpg'), class: 'image' %>
      </div>
      <div class="item-new4">
        <%#= image_tag asset_path('item-new4.jpg'), class: 'image' %>
      </div>
      <div class="item-new5">
        <%#= image_tag asset_path('item-new5.jpg'), class: 'image' %>
      </div>
    </div>
    <div class="title-box">
      <a name="step3">step.3 いいね・フォローをしてみましょう</a>
    </div>
    <div class="text">
      気になる投稿は「いいねボタン」を押してみましょう。<br>
      いいねが押されると相手に通知が届きます
    </div>
    <div class="question">
      <div class="favorite">
        <%#= image_tag asset_path('favorite.jpg'), class: 'image' %>
      </div>
    </div>
    <div class="text">
      話してみたいユーザーがいたら「フォローボタン」を押してみましょう。<br>
      フォローが押されると相手に通知が届きます。<br>
      相互フォローになるとトークルームが使えるようになります
    </div>
    <div class="question">
      <div class="follow1">
        <%#= image_tag asset_path('follow1.jpg'), class: 'image' %>
      </div>
      <div class="follow2">
        <%#= image_tag asset_path('follow2.jpg'), class: 'image' %>
      </div>
    </div>
    <div class="title-box">
      <a name="step4">step.4 トーク機能（一部準備中）</a>
    </div>
    <div class="text">
      相互フォローになるとトーク機能が解放されます。<br>
      ぜひユーザー同士での交流や、
      店舗スタッフとのコミュニケーションにご活用ください<br>
      （トラブルに繋がる発言等はお控えください。）<br>
      メッセージはテキストが必須となります。<br>
      （写真のみの送信は不可となっております）
    </div>
    <div class="question">
      <div class="talk">
        <%#= image_tag asset_path('talk1.jpg'), class: 'image' %>
      </div>
      <div class="talk2">
        <%#= image_tag asset_path('talk2.jpg'), class: 'image' %>
      </div>
      <div class="talk3">
        <%#= image_tag asset_path('talk3.jpg'), class: 'image' %>
      </div>
    </div>
    <div class="title-box">
      <a name="step5">step.5 コメントについて</a>
    </div>
    <div class="text">
      コメントは店舗スタッフのみができます。<br>
      コメントに対する返事などはフォローをしてトークで送りましょう
    </div>
    <div class="question">
      <div class="comment1">
        <%#= image_tag asset_path('comment1.jpg'), class: 'image' %>
      </div>
      <div class="comment2">
        <%#= image_tag asset_path('comment2.jpg'), class: 'image' %>
      </div>
    </div>
    <div class="title-box">
      <a name="step6">お困りのとき</a>
    </div>
    <div class="text">
      お気軽にお問い合わせページを活用してください。<br>
      ヘッダーにてcontact usをご用意しております。<br>
      ご登録いただいているメールアドレスへ返答をお送りさせていただきます
    </div>
    <div class="question">
      <div class="info1">
        <%#= image_tag asset_path('info1.jpg'), class: 'image' %>
      </div>
      <div class="info2">
        <%#= image_tag asset_path('follow2.jpg'), class: 'image' %>
      </div>
    </div>
  </div>
</div>

<style>
main{
  background-image: none;
  background-color: #eeeaec;
  min-height: 100vh;
}

.guide-main{
  padding: 20px 100px;
}

h1.guide-title{
  font-family: 'Georgia',sans-serif;
  color: #736d71;
  border-bottom: double 30px #bcbace;
  font-weight: 800;
  font-size: 50px;
  text-align: center;
  padding-top: 20px;
}

.step1{
  display: flex;
  justify-content: center;
  padding: 50px 30px;
}

iframe {
  width : 600px;
  height : 300px;
}

.youtube {
  cursor : pointer;
}

.title-box{
  color:  #736d71;
  font-size: 20px;
  margin: 2em 0;
  position: relative;
  padding: 0.5em 1.5em;
  border-top: solid 5px #bcbace;
  border-bottom: solid 5px #bcbace;
  font-weight: 600;
}

.text{
  color:  #736d71;
  text-align: center;
  border: 1px solid #bcbace;
  border-radius: 8px;
  padding: 40px;
  margin: 40px;
}

.question{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.question-box{
  display: flex;
  padding-bottom: 50px;
}

.image{
  width: 800px;
  height: 500px;
  box-shadow: 10px 10px 30px #666666;
  padding: 30px 5px;
}
</style>

<script>
  function youtube_defer() {
    var iframes = document.querySelectorAll('.youtube');
    iframes.forEach(function(iframe){
      if(iframe.getAttribute('data-src')) {
        iframe.setAttribute('src',iframe.getAttribute('data-src'));
      }
    });
  }
  window.addEventListener('load', youtube_defer);
</script>
