<div class="container">
   <div class="row d-flex justify-content-center p-5">
     <h1 class"title">サイト使用方法</h1>
   </div>
    <div class="row d-flex justify-content-center p-2">
      <div class="title-box">
        <p>step.1 投稿をしてみましょう</p>
      </div>
    </div>
    <div class="row d-flex justify-content-center p-2">
      <div class="step1">
        <div class="col-6">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/UhJHrLfE4Hk"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center p-2">
      <div class="title-box">
        <p>step.２ いいね機能・フォロー機能・トーク機能</p>
      </div>

    <div class="row d-flex justify-content-center p-2">
      <div class="title-box">
        <p>step.3 コメント・いいね・トーク</p>
      </div>
    </div>
    <div class="row d-flex justify-content-center p-2">
      <h5>店舗スタッフのみが投稿詳細ページからコメントが可能です</h5>
      <h5>気になる投稿には♡いいねを押してみましょう</h5>
      <h5>相互フォローでトークができるようになります</h5>
    </div>
  </div>




<style>
  main{
    background-image: none;
    background-color: #eeeaec;
  }

  h1{
    font-family: 'Georgia',sans-serif;
    border-bottom: double 6px #b79fcb;
  }

  .title-box{
    margin:2em 0;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
  }

  iframe {
  width : 400px;
  height : 200px;
}

.youtube {
  cursor : pointer;
}


</style>

<script>
  function youtube_defer() {
    var iframes = document.querySelectorAll('.youtube');
    iframes.forEach(function(iframe){
      if(iframe.getAttribute('data-src')) {
        iframe.setAttribute('src',iframe.getAttribute('data-src'));
      }
    });
  }
  window.addEventListener('load', youtube_defer);
</script>