<h1>style</h1>


<h4>ログイン</h4>
<%= link_to "クリック", new_user_session_path %><br>


<h4>新規登録はこちら</h4>
<%= link_to "新規登録",  new_user_registration_path %><br>

<h6>管理者ページ</h6>
<%= link_to "こちら",  new_admin_session_path %><br>