/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
  font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

main{
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 1000px;
}

footer{
  background-color: #e4e3e8;
  height: 60px;
}

.footer-line{
  border-top: 9px dotted #A9A9A9;
}

.flash {
  background-color: #808080;
  color: #FFFFFF;
  text-align: center;
}

.navbar{
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2);
}
.navbar-brand{
  font-family: 'Georgia',sans-serif;
  font-weight: 800;
  padding-left: 80px
}

.nav-item{
  background-color: #e0dddd;
  border: 3px solid #afadad;
}

ul{
  display: flex;
  list-style: none;
}

i{
  display: inline;
  padding-top: 15px;
  font-size: 1.3em;
  color: #808080
}

i:hover {
  color: #CC99B7;
  cursor: pointer;
}

a{
  color: #CC99B7;
}

.homes-main{
  background-image: url(23820280_m.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 2000px;
}

.public-sign-in{
  background-image: url(23246870_s.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 1000px;
}

.public-registration{
  background-image: url(23246875_s.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 1300px;
}

.user-page{
  background-image: url(23246691_s.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 1000px;
}

.admin{
  background-image: url(23246694_s.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 1000px;
}

/*プロフィール画像*/
.profile{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.rounded-circle{
  width: 80px;
  height: 80px;
}

/*投稿*/
.item-card {
  position: relative;
  background-color: #EEEEEE;
  width: calc((100% - 24px * 2) / 3);
  max-width: calc(100% - 24px * 2) / 3;
  -moz-box-shadow: 15px 20px 31px -26px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 15px 20px 31px -26px rgba(0, 0, 0, 0.8);
  -ms-box-shadow: 15px 20px 31px -26px rgba(0, 0, 0, 0.8);
  box-shadow: 15px 20px 31px -26px rgba(0, 0, 0, 0.8);
}

.item-cards{
 display: flex;
 flex-wrap: wrap;
 gap: 24px;
 transition-duration: 0.5s;
 padding-top: 10px;
}

.item-card img {
 width: 100%;
 height: 100%;
 object-fit: cover;
 position: relative;
}

.item-btn-mark{
  position: absolute;
  right: 8px;
  bottom: 8px;
  background-color: white;
  border-radius: 10px;
  border: 3px solid #736d71;
  display: flex;
	align-items: center;
	justify-content: center;
}

.item-btn-mark i{
  margin: 3px 10px;
}


.item-card:hover{
  box-shadow: 10px 10px 10px
  rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}

.under{
  border-bottom: dotted 3px orange;
}

select{
  height: 40px;
 }

.btn.btn-secondary{
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  font-weight: 700;
  border: 3px solid #FFFFFF;
  box-shadow: 10px 10px 30px #666666;
}

.btn.btn-secondary:hover{
  background: #333333;
  box-shadow: none;
 }

 .form{
  border: 3px solid #999966;
  background: #EEEEEE;
  padding: 60px 100px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 16px 16px 42px #666666
 }