/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
 font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
 /*color: #555555;*/

}

main{
    background-image: url(golden-white-marble-textured-design-resource.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 1080px;
}

.navbar{
    opacity:0.5;
}

.navbar-brand{
    font-family: 'Georgia',sans-serif;
    font-size: 40px;
    font-weight:800;

}
/*ヘッダー*/
/*header{*/
  /*color: #555555*/
/*}*/
/*.container-fluid{*/
  /*background-color: #C0C0C0*/
/*}*/

/*ページネーション自体のデザイン*/
.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}
/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}
.pagination>li>a:hover {
  border-radius: 15px;    /*角を丸くする*/
}

/*プロフィール画像*/
.profile{
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width: 200px;  /* 縦横を同じ値にする */
  height: 200px;  /* 縦横を同じ値にする */
}
.rounded-circle{
   width: 80px;  /* 縦横を同じ値にする */
  height: 80px;  /* 縦横を同じ値にする */
}

/*投稿*/
.card-body{
   flex-basis: 100%;
   padding: 5px;
}
.image-wrap{
    position: relative;
    overflow: hidden;
    padding-top: 90%;
}
.image-wrap img {
   position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

