/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
 font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

main{
    background-image: url(golden-white-marble-textured-design-resource.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 1600px;
}

 .homes-main{
    background-image: url(23820280_m.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 1600px;
  }

  .public-sign-in{
  background-image: url(23246870_s.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 1600px;
}

.public-registration{
  background-image: url(23246875_s.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 1600px;
}

.user-page{
 background-image: url(23246691_s.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 1600px;
}

.admin{
  background-image: url(23246694_s.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 1600px;

}

.navbar{
  opacity:0.5;
}
.navbar-brand{
    font-family: 'Georgia',sans-serif;
    font-size: 50px;
    font-weight:800;
    padding-left: 80px
}

a:hover { color: #9999CC; }
a:link { color: #808080; }
a:visited { color: #808080; }

/*ページネーション*/
.pagination>li>a {
  border: none;
  color: #696969;
}

.pagination>.active>a {
  background: #CC99CC;
  border-radius: 15px;
}
.pagination>li>a:hover {
  border-radius: 15px;
}
.page-item.active .page-link {
    background-color: #CC99CC;
    border-color: #CC99CC;
}


/*プロフィール画像*/
.profile{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.rounded-circle{
   width: 80px;
  height: 80px;  /* 縦横を同じ値にする */
}

/*投稿*/
.card-body{
   flex-basis: 100%;
   padding: 5px;
}
.image-wrap{
    position: relative;
    overflow: hidden;
    padding-top: 90%;
}
.image-wrap img {
   position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

select{
    height: 40px;
 }

.container {
    /*max-height: calc(100vh - 70px);*/
}