<div class="container">
  <% @current_user_notice %>
    <% if @current_user_notice.exists? %>
      <%= render @current_user_notice %>
    <% else %>
      <p>通知はありません</p>
    <% end %>
  <div class="row">
    <%= paginate @notifications %>
  </div>
</div>

<style>
 main{
  background-image: none;
  background-color: #888888;
 }

 p{
  text-align: center;
  font-size: 1.3em;
  padding: 50px;
 }
</style>
