<div class="container">
  <div class="row d-flex justify-content-center p-5">
    <h1>通知一覧</h1>
  </div>
  <% @current_user_notice %>
    <% if @current_user_notice.exists? %>
      <%= render @current_user_notice %>
    <% else %>
      <p>通知はありません</p>
    <% end %>
  <div class="row">
    <%= paginate @notifications %>
  </div>
</div>

<style>
 main{
  background-image: none;
  background-color: #888888;
 }
</style>
