<div class="container">
  <h1 class="d-flex justify-content-center p-3">お気に入り一覧</h1>
  <%  if @favorite_lists.present? %>
   <div class="row item-cards">
    <% @favorite_lists.each do |item| %>
     <div class="col-3">
      <div class="card">
       <div class="card-body">
        <div class="image-wrap">
         <%= link_to public_item_path(item) do %>
          <%= image_tag item.get_item_image(200, 200) %>
         <% end %>
        </div>
       </div>
      </div>
     </div>
    <% end %>
   <% else %>
      <p class ="row d-flex justify-content-center p-5">お気に入りが存在しません</p>
   <% end %>
  </div>
 </div>
