<h1>お気に入り一覧</h1>

<%  if @favorite_list.present? %>

 <% @favorite_list.each do |item| %>

  <%= image_tag item.get_item_image(200, 200) %>
  <%= item.text %>
  <%= item.brand.brand_name %>
  <%= link_to "詳細", public_item_path(item) %>
 <% end %>
<% end %>
