  <div class="row">
    <button type="comment morebutton" class="btn btn-secondary menu w-100 m-3" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      menu
    </button>
  </div>
  <div class="row">
    <div class="collapse" id="collapseExample">
      <%= link_to public_items_privacy_path, class: 'btn btn-outline-dark' do %>
        privacy Item
      <% end %>
      <%= link_to public_items_my_item_path, class: 'btn btn-outline-dark' do %>
        your Item
      <% end %>
      <%= link_to favorites_public_users_path, class: 'btn btn-outline-dark' do %>
        favorite Item
      <% end %>
      <% if current_user.is_user == false %>
        <%= link_to public_items_clerk_path, class: 'btn btn-outline-dark' do %>
          only clerk
        <% end %>
      <% else %>
      <% end %>
    </div>
  </div>

<style>

.btn-secondary.menu{
  box-shadow: none;
  padding: 5px 40px;
  background: #626063;
  border: 3px solid #afadad;
}

</style>