<h1>店舗スタッフ公開一覧</h1>


<% @close_items.each do |item| %>

 <%= item.text %>

 <%= item.brand.brand_name %>

<%= button_to "削除", public_item_path(item), method: :delete %>
<%= link_to "詳細", public_item_path(item) %>
<% end %>