<div class="container pt-5">
  <div class="footer-text row">
    © Style CO., LTD
  </div>
</div>


<style>
 footer{
   /*position: absolute;*/
   /*bottom: 0;*/
   /*width: 100%;*/
   background-color: #e4e3e8;
  }

  .footer-text{
    position: absolute;
    left: 0;
    bottom: 0;
  }
</style>