<p class="footer-line"></p>
<div class="container p-4">
  <div class="footer-text row">
    © Style CO., LTD
  </div>
</div>


<style>
 footer{
   /*position: absolute;*/
   /*bottom: 0;*/
   /*width: 100%;*/
   background-color: #e4e3e8;
  }

  .footer-text{
    position: absolute;
    left: 0;
    bottom: 0;
  }
 p.footer-line{
     border-top: 9px dotted #A9A9A9;
 }

</style>