  <nav class="navbar navbar-expand-lg navbar-light bg-light float-left w-100">
    <div class="container-fluid">
      <%= link_to public_items_path, class: "navbar-brand fa-2x" do %>
       style
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li>
            <%= link_to public_notifications_path, class: "nav-item nav-link text-black" do %>
              <i class="fas fa-bell fa-lg"></i>
            <% end %>
          </li>
            <%#= link_to "お問い合わせ", new_public_contact_path(user_id: current_user.id), class: "nav-item nav-link text-black" %>
        </ul>
      </div>
    </div>
  </nav>

