<div class="footer-line"></div>
<div class="container-fluid p-2">
  <div class="row">
    <div class="col-8 pt-2">
      <div class="footer-text">© Style  Copyrights,Higashino</div>
    </div>
    <div class="col-2">
      <div class="contact">
        <%= link_to new_public_contact_path(user_id: current_user.id) do %>
          <i class="fas fa-caret-right"></i>  contact us
        <% end %>
      </div>
    </div>
  </div>
</div>

<style>
.footer-text{
    font-size: 15px;
    padding-left: 20px;
  }

.contact a{
  color: #000000;
}

.contact{
  font-weight: 300;
  font-size: 19px;
  padding-left: 80px;
}
</style>
