<div class="footer-line"></div>
<div class="container d-flex justify-content-center p-4">
  <div class="row">
    <div class="col-12">
      <div class="footer-text pl-2">© Style  Copyrights,Higashino</div>
    </div>
    <div class="col-6">
      <%= link_to "contact", new_public_contact_path(user_id: current_user.id) %>
    </div>
    <div class="col-6">
      <%= link_to "search", search_public_items_path %>
    </div>
  </div>
</div>

<style>
.footer-text{
    font-size: 11px;
  }

</style>
